In [9]:
import pandas as pd
import numpy as np
from pandas import Series

In [4]:
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}

In [5]:
type(cars_dict)

dict

In [6]:
cars1 = pd.Series(cars_dict)

In [11]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [7]:
type(cars1)

pandas.core.series.Series

In [11]:
cars1 = Series({'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000})

In [12]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [13]:
'Malibu' in cars1

True

In [14]:
'BMW' in cars1

False

In [17]:
cars1['Toyota']

np.int64(45000)

In [20]:
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [18]:
moodels = ['Malibu', 'Lacetti', 'Toyota', 'BMW', 'Mazda', 'Honda', 'Cobalt']

In [ ]:
cars2 = Series(cars_dict,index=moodels) # BMW va Cobalt qiymatlari yo'q, shuning uchun NaN bo'ladi

In [21]:
cars2

Malibu     40000.0
Lacetti    20000.0
Toyota     45000.0
BMW            NaN
Mazda      52000.0
Honda      38000.0
Cobalt         NaN
dtype: float64